.bg-black-little{
    background-color: rgb(33, 37, 41);
}
.icons {
    width: 5%;
}

.icons-main {
    width: 3%;
}

hr {
    height: 0.25rem;
    background-color: black;
    border-color: black;
    opacity: 0.75;
}

.hr-item {
    height: 0.15rem !important;
}

.justify-text{
    text-align: justify;
}

@media (max-width: 576px) {
    .icons-main{
        width: 6.5%;
    }
    .icons{
        width: 6%;
    }
}

.display-7 {
    font-size: calc(1.325rem + 0.9vw);
    font-weight: 300;
    line-height: 1.2;
  }
  @media (min-width: 1200px) {
    .display-7 {
      font-size: 2rem;
    }
  }